# editor
.idea
.vscode

# dependencies
node_modules
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# testing
/coverage
/pages/test

# production
/dist

# misc
.DS_Store
*.pem

# debug
*.log
src/logs

# local env files
.env*.local

# typescript
*.tsbuildinfo
